[submodule "JavaScript/Weedshaker/interact.js"]
	path = JavaScript/Weedshaker/interact.js
	url = https://github.com/Weedshaker/interact.js.git
[submodule "JavaScript/Weedshaker/ProxifyJS"]
	path = JavaScript/Weedshaker/ProxifyJS
	url = https://github.com/Weedshaker/ProxifyJS.git
[submodule "JavaScript/Weedshaker/event-driven-web-components-prototypes"]
	path = JavaScript/Weedshaker/event-driven-web-components-prototypes
	url = https://github.com/Weedshaker/event-driven-web-components-prototypes.git
